<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant Profile Explorer</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <video autoplay loop muted playsinline class="background-video">
        <source src="/assets/jett.webm" type="video/mp4">
    </video>
    <div class="welcome-container">
        <h1 class="welcome-title">Welcome to Valorant Profile Explorer</h1>
        <p class="welcome-description">Valorant Profile Explorer is a web application that allows you to search for player profiles in Valorant. By entering a player's Riot ID and tagline, you can retrieve their match history, rank, and other details.
        <p class="welcome-description">This application uses Riot Games' API for the Americas region, meaning it is designed for players whose accounts are registered in this region.</p>
        <a href="/search" class="welcome-button">Go to Search</a>
    </div>
</body>
</html>
